<div>
  <h2>Basic usage</h2>

  <div class="form-group well">
    <div class="col-xs-3">
      <div class="input-group date-range-picker">
        <input type="text" id="{{vm.identifier}}" class="form-control" name="{{vm.name}}"
          ng-model="vm.model" options="{{vm.options}}" date-range-picker />

        <span class="input-group-btn">
          <label type="button" class="btn btn-default date" for="{{vm.identifier}}">
            <i class="glyphicon glyphicon-calendar"></i>
          </label>
        </span>
      </div>
      <div class="input-group">
        <button type="button" class="btn btn-link" title="Reset" ng-click="reset(vm.identifier)"
          ng-show="vm.model.startDate != null">Reset
        </button>
      </div>
    </div>
  </div>
</div>