<div class="input-group datepicker">
  <input type="text" id="{{forwardOptions.identifier}}" class="form-control" name="{{name}}" ng-model="model" options="forwardOptions" date-range-picker />

  <button type="button" class="btn btn-link clear-field" title="Clear" ng-click="reset()" ng-show="model != null">
    <i class="glyphicon glyphicon-remove"></i>
  </button>

  <span class="input-group-btn">
    <label type="button" class="btn btn-default date" for="{{forwardOptions.identifier}}">
      <i class="glyphicon glyphicon-calendar"></i>
    </label>
  </span>
</div>